@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
  font-family: var(--font-roboto);
  /* color: var(--color-white); */
}
:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-xxs: 9px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-lgi: 18px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-43xl-5: 62.5px;
  --font-size-31xl: 50px;
  --font-size-18xl: 37px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: rgba(0, 0, 0, 0.5);
  --color-gray-200: rgba(0, 0, 0, 0.6);
  --color-gray-300: rgba(0, 0, 0, 0.05);
  --color-gray-400: rgba(0, 0, 0, 0.1);
  --color-gray-c1: rgba(0, 0, 0, 0.245);
  --color-grayverylight: rgb(234, 232, 232);
  --color-gainsboro: rgba(217, 217, 217, 0.5);
  --color-graylight: rgba(157, 157, 157, 0.5);
  --color-darkslategray: #333;

  /* Gaps */
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-xs: 12px;
  --gap-9xs: 4px;
  --gap-119xl: 138px;
  --gap-50xl: 69px;
  --gap-5xl: 24px;
  --gap-7xs: 6px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-41xl: 60px;
  --padding-xl: 20px;
  --padding-20xl: 39px;
  --padding-3xs: 10px;
  --padding-xs: 12px;
  --padding-143xl: 162px;
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-5xs: 8px;
  --padding-7xl: 26px;
  --padding-21xl: 40px;
  --padding-645xl: 664px;
  --padding-313xl: 332px;
  --padding-12xs: 1px;
  --padding-10xs: 3px;
  --padding-7xs: 6px;
  --padding-2xs: 11px;
  --padding-11xs: 2px;
  --padding-6xs: 7px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-5xs: 8px;
  --br-11xs: 2px;
  --br-31xl: 50px;
  --br-81xl: 100px;
}
a {
  text-decoration: none;
}
